@page "/people"

@using PartyManager.WebUI.Data
@using PartyManager.Application.Main.People.Queries.Models
@inject PeopleService PeopleService

<h1>People</h1>

<p>You have the following contacts registered</p>

<AddPerson OnChange="@RefreshPeople" />

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.FullName</td>
                    <td>@person.Age</td>
                    <td>
                        <a href="/person/@person.Id">
                            <span class="oi oi-arrow-circle-right" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<PersonDto> people;

    protected override async Task OnInitializedAsync()
    {
        await RefreshPeople();
    }

    private async Task RefreshPeople()
    {
        people = await PeopleService.GetPeople();
    }
}
