@inherits LayoutComponentBase

<div class="page">
    <div class="top-row">
        <NavMenu />
    </div>

    <div class="main px-4">
        <div class="content">
            @Body
        </div>
    </div>

    <div class="bottom-row">
        Site Footer Goes Here
    </div>
</div>

<Notifier />