<div class="topbar-item navbar navbar-dark">
    <a class="navbar-brand" href="">ShinDig HQ</a>
</div>

<div class="topbar-item nav-menu @NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-heart" aria-hidden="true"></span> My Parties
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="people">
                <span class="oi oi-people" aria-hidden="true"></span> People
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="drinks">
                <span class="oi oi-beaker" aria-hidden="true"></span> Drinks
            </NavLink>
        </li>
    </ul>
</div>

<div class="topbar-item">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
