@page "/fetchdata"

@using PartyManager.WebUI.Data
@using PartyManager.WebUI.Models
@inject PartyService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (parties == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>StartTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var party in parties)
            {
                <tr>
                    <td>@party.Name</td>
                    <td>@party.Location</td>
                    <td>@party.StartTime</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<PartySummaryViewModel> parties;

    protected override async Task OnInitializedAsync()
    {
        parties = await ForecastService.GetPartySummaries();
    }
}
