@page "/guest/{Id:int}"

@using PartyManager.WebUI.Data
@using PartyManager.Application.Main.Parties.Queries.Models
@inject GuestAdminService GuestAdminService

<h3>GuestAdmin @Id</h3>

@code {

    [Parameter]
    public int Id { get; set; }

    private PartyGuestDto guest;
}
